<%- include ('./partials/header') %>
<title>Vue Evénements</title>
<link rel="stylesheet" href="admin_all_events_style.css">
</head>
<body>
<%- include ('./partials/nav') %>

<div class="container-fluid my-5 content ">
    <div class="row">
        <div class="col d-none d-sm-block"></div>
        <div class="col-12 col-sm-8 col-lg-6 col-xl-4 grid shadow bg-white rounded" id="content">
            <div class="row my-4">
                <a class="btn btn-primary"href="/evenements/ajouter-evenement" role="button"><i class="fas fa-plus"></i> Créer évenement</a>
            </div>
            <div class="row d-flex flex-column">
                <div class="col my-2">

                  <li class="list-group-item">
                    <% for(var event of allEvents) {  %>
                        
                        <div class="row">
                            
                                <a href="/evenements/<%- event._id %>" class="list-group-item list-group-item-action">
                                    <div class="row">
                                    <div class ="col-8"><%= event.eventName %></div>
                                    <div class="col-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
    

                                        <button type="button" class="btn btn-primary"><i class="fas fa-edit" title="Editer" href="/evenements/editer-evenement/<%- event._id %>"></i></button>
                                     </div> 
                                     </div>
                                    </div>
                                </a>
                            
                        </div>
                  
                    <%};%>   
                </li>

                        
                            
                          
                          </ul>


                </div>
                
            </div>
        </div>
        <div class="col d-none d-sm-block"></div>
    </div>
</div>

<%- include ('./partials/footer') %>
