<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>Soutenance | Création de réservation étudiant</title>
    <style>
      .maxsize {
        max-width: 200px;
      }
      .maxsize2 {
        max-width: 350px;
      }
    </style>
  </head>
  <body>
    <%- include ('./partials/nav') %>
    
    <form method="POST" action="/reserver/<%- eventInfo._id %>">
      <div class="container my-5">
        <div class="row">
          <div class="col-4 maxsize2">
              <% if (eventInfo.timeSlotDuration == '01:00') {%>
                <div class="row">
                  <label for="tutorLastName">Nom du tuteur entreprise</label>
                  <input type="text" id="tutorLastName" name="tutorLastName">
                </div>
                <div class="row">
                  <label for="tutorFirstName">Prénom du tuteur entreprise</label>
                  <input type="text" id="tutorFirstName" name="tutorFirstName">
                </div>
                <div class="row">
                  <label for="companyName">Nom de l'entreprise</label>
                  <input type="text" id="companyName" name="companyName">
                </div>
              <% } else {%>
            <ul class="list-group">
              <% for(var student of allStudents) {  %>
                <li class="list-group-item">
                  <% if (student._id == user._id){ %>
                    <input class="form-check-input me-1" type="checkbox" name="arrayOfIdStudents" value="<%- student._id %>" aria-label="..." checked disabled>
                    <input type="hidden" name="arrayOfIdStudents" value="<%- student._id %>">
                    <%- student.studentFirstName %> <%- student.studentLastName %>
                  <% } else { %>
                    <input class="form-check-input me-1" type="checkbox" name="arrayOfIdStudents" value="<%- student._id %>" aria-label="...">
                  <%- student.studentFirstName %> <%- student.studentLastName %>
                  <% } %>
                  
                </li>
              <%}%>
              </ul>
              <% } %>
          </div>
          <div class="col-4 ">
            <div class="row d-flex justify-content-center">
              <label class="text-center" for="start">Date de début:</label>
              <input class="maxsize" type="date" id="start" name="date"
                  value="current"
                  min="<%- minDate %>" max="<%- maxDate %>">
            </div>
            <div class="row d-flex justify-content-center ">
              <label class="text-center" for="classroom">Numéro de la salle:</label>
              <input class="maxsize" type="number" id="classroom" name="classroom">
            </div>
          </div>
          <div class="col-4">
            <div class="row text-center">
              <label for="startingTime">Heure de début:</label>
            </div>
            <div class="row">
              <div class="col"></div>
              <div class="col d-flex justify-content-center">
                <input class="maxsize" type="time" id="startingTime" name="startingTime" min="08:00" max="19:00">
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
  
        <div class="row my-3">
          <div class="col d-none d-sm-flex"></div>
          <div class="col col-sm-1 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary createButton "><i class="fas fa-plus"></i> Réserver</button>
          </div>
          <div class="col-1 d-none d-sm-flex"></div>
        </div>

      </div>
    </form>
  </body>
</html>